In [1]:
import requests
import os
import shutil
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup
import pandas as pd

In [13]:
years = list(range(1980,2023))

# Player

In [ ]:
# https://www.basketball-reference.com/leagues/NBA_2022.html

player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

url = player_stats_url.format(2022)
data = requests.get(url)
with open("player/2022.html".format(2022), "w+") as f:
    f.write(data.text)

In [6]:
driver = webdriver.Chrome(
    executable_path="/Users/achmadr_rb/chromedriver"
    )

/var/folders/j2/8fml5_3x2pv_cjgb0kpqm2rw0000gn/T/ipykernel_99433/1934344260.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(

In [ ]:

player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"
year=2022
# for year in years:

url = player_stats_url.format(year)

driver.get(url)
driver.execute_script("window.scrollTo(1,10000)")
time.sleep(2)

with open("player/{}.html".format(year), "w+") as f:
    f.write(driver.page_source)

In [8]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"
for year in years:
    url = player_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(2)
    
    with open("player/{}.html".format(year), "w+") as f:
        f.write(driver.page_source)

In [14]:

dfs = []
# year=2022
for year in years:
    with open("player/{}.html".format(year)) as f:
        page = f.read()

    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find_all(id="per_game_stats")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [15]:
players = pd.concat(dfs)

In [16]:
players

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Kareem Abdul-Jabbar*,C,32,LAL,82,NaN,38.3,10.2,16.9,...,2.3,8.5,10.8,4.5,1.0,3.4,3.6,2.6,24.8,1980
1,2,Tom Abernethy,PF,25,GSW,67,NaN,18.2,2.3,4.7,...,0.9,1.9,2.9,1.3,0.5,0.2,0.6,1.8,5.4,1980
2,3,Alvan Adams,C,25,PHO,75,NaN,28.9,6.2,11.7,...,2.1,6.0,8.1,4.3,1.4,0.7,2.9,3.2,14.9,1980
3,4,Tiny Archibald*,PG,31,BOS,80,80,35.8,4.8,9.9,...,0.7,1.7,2.5,8.4,1.3,0.1,3.0,2.7,14.1,1980
4,5,Dennis Awtrey,C,31,CHI,26,NaN,21.5,1.0,2.3,...,1.1,3.3,4.4,1.5,0.5,0.6,1.0,2.5,3.3,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,2022
837,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,2022
838,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3,2022
839,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,...,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,2022
840,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,2022

In [17]:
players.to_csv("players.csv")

# Team

In [3]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}.html"

In [ ]:
url = team_stats_url.format(2022)
    
data = requests.get(url)

with open("team/{}.html".format(2022), "w+") as f:
    f.write(data.text)

In [ ]:
for year in years:
    url = team_stats_url.format(year)
    
    data = requests.get(url)
    
    with open("team/{}.html".format(year), "w+") as f:
        f.write(data.text)

## Team Standings

In [16]:
#Division Standings

dfs = []
for year in years:
    with open("team/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    e_table = soup.find_all(id="divs_standings_E")[0]
    e_df = pd.read_html(str(e_table))[0]
    e_df["Year"] = year
    e_df["Team"] = e_df["Eastern Conference"]
    del e_df["Eastern Conference"]
    dfs.append(e_df)
    
    w_table = soup.find_all(id="divs_standings_W")[0]
    w_df = pd.read_html(str(w_table))[0]
    w_df["Year"] = year
    w_df["Team"] = w_df["Western Conference"]
    del w_df["Western Conference"]
    dfs.append(w_df)

In [ ]:
#Conference Standings

dfs = []
for year in years:
    with open("team/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    e_table = soup.find_all(id="confs_standings_E")
    e_df = pd.read_html(str(e_table))[0]
    e_df["Year"] = year
    e_df["Team"] = e_df["Eastern Conference"]
    del e_df["Eastern Conference"]
    dfs.append(e_df)
    
    w_table = soup.find_all(id="confs_standings_W")
    w_df = pd.read_html(str(w_table))[0]
    w_df["Year"] = year
    w_df["Team"] = w_df["Western Conference"]
    del w_df["Western Conference"]
    dfs.append(w_df)

In [17]:
team = pd.concat(dfs)

In [18]:
team

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
0   61  21  .744     —  113.5  105.7   7.37  1980        Boston Celtics*
1   59  23  .720   2.0  109.1  104.9   4.04  1980    Philadelphia 76ers*
2   39  43  .476  22.0  107.0  109.5  -2.27  1980    Washington Bullets*
3   39  43  .476  22.0  114.0  115.1  -0.96  1980        New York Knicks
4   34  48  .415  27.0  108.3  109.5  -0.98  1980        New Jersey Nets
..  ..  ..   ...   ...    ...    ...    ...   ...                    ...
13  56  26  .683     —  115.6  109.9   5.37  2022     Memphis Grizzlies*
14  52  30  .634   4.0  108.0  104.7   3.12  2022      Dallas Mavericks*
15  36  46  .439  20.0  109.3  110.3  -0.84  2022  New Orleans Pelicans*
16  34  48  .415  22.0  113.2  113.0   0.02  2022      San Antonio Spurs
17  20  62  .244  36.0  109.7  118.2  -8.26  2022        Houston Rockets

[1359 rows x 9 columns]

In [19]:
team.to_csv("team_standings.csv")

## Per Game Stats

In [6]:
year = 2022
with open("team/{}.html".format(year)) as f:
    page = f.read()

soup = BeautifulSoup(page, 'html.parser')
soup.find('tr', class_="thead").decompose()
team_table = soup.find_all(id="per_game-team")
team = pd.read_html(str(team_table))[0]
team["Year"] = year
dfs.append(team)

NameError: name 'dfs' is not defined

In [7]:
dfs = []
for year in years:
    with open("team/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    team_table = soup.find_all(id="per_game-team")
    team = pd.read_html(str(team_table))[0]
    team["Year"] = year
    dfs.append(team)

In [8]:
team_per_game = pd.concat(dfs, ignore_index = True)

In [16]:
team_per_game

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1.0,San Antonio Spurs*,82,240.9,47.0,94.4,0.498,0.6,2.5,0.252,...,14.1,30.7,44.7,28.4,9.4,4.1,19.4,25.6,119.4,1980
1,2.0,Los Angeles Lakers*,82,242.4,47.5,89.9,0.529,0.2,1.2,0.200,...,13.2,32.4,45.6,29.4,9.4,6.7,20.0,21.8,115.1,1980
2,3.0,Cleveland Cavaliers,82,243.0,46.5,98.1,0.474,0.4,2.3,0.193,...,15.9,29.0,45.0,25.7,9.3,4.2,16.7,23.6,114.1,1980
3,4.0,New York Knicks,82,241.2,46.4,93.6,0.496,0.5,2.3,0.220,...,15.1,28.1,43.2,27.6,10.7,5.6,19.7,26.4,114.0,1980
4,5.0,Boston Celtics*,82,242.4,44.1,90.1,0.490,2.0,5.1,0.384,...,15.0,30.0,44.9,26.8,9.9,3.8,18.8,24.1,113.5,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232,27.0,Portland Trail Blazers,82,240.6,38.5,87.1,0.442,12.7,36.8,0.346,...,10.4,32.5,42.9,22.9,8.0,4.5,14.5,21.1,106.2,2022
1233,28.0,Detroit Pistons,82,241.2,38.2,88.6,0.431,11.3,34.6,0.326,...,11.0,32.0,43.0,23.5,7.7,4.8,14.2,21.9,104.8,2022
1234,29.0,Orlando Magic,82,241.2,38.3,88.3,0.434,12.2,36.9,0.331,...,9.1,35.2,44.3,23.7,6.8,4.5,14.5,19.7,104.2,2022
1235,30.0,Oklahoma City Thunder,82,241.5,38.3,89.1,0.430,12.1,37.4,0.323,...,10.4,35.2,45.6,22.2,7.6,4.6,14.0,18.3,103.7,2022
1236,NaN,League Average,82,241.4,40.6,88.1,0.461,12.4,35.2,0.354,...,10.3,34.1,44.5,24.6,7.6,4.7,13.8,19.6,110.6,2022

In [17]:
team_per_game.to_csv("team_per_game.csv")

## Total Stats

In [18]:
dfs = []
for year in years:
    with open("team/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    team_table = soup.find_all(id="totals-team")
    team = pd.read_html(str(team_table))[0]
    team["Year"] = year
    dfs.append(team)

In [19]:
team_total = pd.concat(dfs, ignore_index = True)

In [20]:
team_total

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1.0,San Antonio Spurs*,82,19755,3856,7738,0.498,52,206,0.252,...,1153,2515,3668,2326,771,333,1589,2103,9788,1980
1,2.0,Los Angeles Lakers*,82,19880,3898,7368,0.529,20,100,0.200,...,1085,2653,3738,2413,774,546,1639,1784,9438,1980
2,3.0,Cleveland Cavaliers,82,19930,3811,8041,0.474,36,187,0.193,...,1307,2381,3688,2108,764,342,1370,1934,9360,1980
3,4.0,New York Knicks,82,19780,3802,7672,0.496,42,191,0.220,...,1236,2303,3539,2265,881,457,1613,2168,9344,1980
4,5.0,Boston Celtics*,82,19880,3617,7387,0.490,162,422,0.384,...,1227,2457,3684,2198,809,308,1539,1974,9303,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232,27.0,Portland Trail Blazers,82,19730,3161,7144,0.442,1043,3017,0.346,...,854,2661,3515,1880,657,366,1187,1728,8711,2022
1233,28.0,Detroit Pistons,82,19780,3129,7267,0.431,925,2838,0.326,...,900,2625,3525,1924,630,393,1163,1799,8596,2022
1234,29.0,Orlando Magic,82,19780,3139,7240,0.434,999,3022,0.331,...,746,2885,3631,1947,555,367,1188,1612,8547,2022
1235,30.0,Oklahoma City Thunder,82,19805,3141,7310,0.430,991,3066,0.323,...,854,2887,3741,1822,622,380,1145,1497,8506,2022
1236,NaN,League Average,82,19792,3331,7224,0.461,1020,2885,0.354,...,847,2798,3645,2021,626,386,1129,1610,9071,2022

In [21]:
team_total.to_csv("team_total.csv")